
<br></br>
<br/>
<br/>
<br/>

<div class="span6 offset3 smurfy text-center">

	<h1 class="custom-h1">
		HomeCooked
	</h1>

</br>

	<h2 class="custom-h2">
		Your destination for exquisitely prepared home-cooked meals
	</h2>

</br>
</br>

  <%= link_to 'Post a meal', new_pic_path, :class => 'btn btn-danger btn-large' %>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <%= link_to 'Eat a meal', pics_path, :class => 'btn btn-danger btn-large' %>

</div>

