
<br></br>
<br/>
<br/>
<br/>

<div class="span6 offset3 smurfy text-center">

	<h1 class="custom-h1">
		HomeCooked
	</h1>

	<h2 class="custom-h2">
		The marketplace for home-cooked meals
	</h2>

	<%= link_to 'Post a meal', new_pic_path, :class => 'btn btn-danger btn-large' %>

</div>

