<% @pics.each_slice(3) do |slice| %>
	<div class="row">
<% slice.each do |pic| %>

<div class="smurfy span4">
	<h1 class="custom-h1">
		Dish: <%= pic.title %>
	</h1>
	<br/>
	<h2 class="custom-h2">
		Price: <%= pic.subtitle %>
	</h2>
	<h2>
	<br/>
		<%= image_tag pic.image %>
	</h2>
	</br>
	<h3 class="custom-h3">
		Location, Date & Time:  <%= pic.message %>
	</h3>

</div>

<% end %>

</div>

<% end %>