<% @pics.each do |pic| %>

<div class="smurfy span4">
	<h1 class="custom-h1">
		Title: <%= pic.title %>
	</h1>
	<br/>
	<h2 class="custom-h2">
		Subtitle: <%= pic.subtitle %>
	</h2>
	<br/>
	<h3 class="custom-h3">
		Message:  <%= pic.message %>
	</h3>

</div>

<% end %>